
body{
    font-family: 'Nunito', sans-serif;
    background-color:rgb(100, 5, 5);
    color: rgb(188, 0, 0);
}
/*header*/

ul{
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    color: rgb(208, 208, 208);
    text-decoration: none;

}
hr{
    background:  rgb(208, 208, 208);
}
h6{
    margin-right: 45px;
    color: white;
    text-transform: uppercase;
    float: right;
}
#seta-up{
    display: none;
}
.main-header{ 
    font-family: 'Nunito', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20.2%;
    padding: 124px 70px 72px 5px;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);

}
.logo{
    margin-top: -110px;
    margin-left: 36px;
}
.menu-list li{
    font-size: 18px;
    color: white;
    font-weight:bolder;
    text-decoration: none;
    
}
.menu-person li{
    font-size: 18px;
    color: white;
    font-weight:bolder;
    text-decoration: none;

}
.menu-historico li{
        font-size: 16px;
        color: white;
}
.icon-speaker{
    width: 24px;
    height: 24px;
    margin-left: 70px;
}
.app{
    margin-top: 40px;
    font-size: 16px;
    font-weight:bolder;
    color: white;
    letter-spacing: 1px;

}

/*main nav*/
.top-nav{
    width: 80%;
    height: 80px;
    margin-left: 307px;
    background-color:rgb(100, 5, 5);
    display: flex;
    position: fixed;
    top: 0;
   
}
.seta{
    display: flex;
    flex-direction:row; 
    justify-content:flex-end;   
    margin-top: 10px;
}
.user{
    height: 46px;
    width: 240px;
    margin-top: 100px;
    margin-left: 780px;
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 30px;
    font-size: 16px;
    color: white;
    font-weight:bolder;
    letter-spacing: 2px;
    

}
.foto-user{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.bg-dropdown{
    width: 260px;
    background-color: rgba(0, 0, 0, 0.89);
    font-size: 16px;
    color: white;
    border-radius: 5px;
}
.item-dropdown {
    color: white;
}
.item-dropdown:hover{
    color: white;
    background-color: rgba(155, 153, 153, 0.3);
}
.hr-dropdown{
   margin-left: 5px;
   margin-right: 5px;
   background-color: rgb(106, 106, 108);
}

/*main secao1*/
.menu1{
    width: 80%;
    margin-left: 307px;
    margin-top: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-image: linear-gradient( 180deg,rgb(100, 5, 5), transparent), linear-gradient(to top, rgb(0, 0, 0), transparent);
    background-clip: content-box, border-box;
}
.menu1 h1{
    margin-left: 25px;
    font-size: 32px;
    color: white;
    font-weight:bolder;

}
.saudacao{
    display: none;

}
.cards1{
    display: flex;
    flex-direction:row; 
    justify-content:flex-end;  
    margin-right: 120px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.box:hover{
    background-color: rgba(203, 175, 175, 0.1);

}
.box1{
    margin-right: 40px;
    height: 100px;
    width: 360px;
    background-color: rgba(255, 252, 252, 0.1);
    border-radius: 5px;

   
}
.box2{
    margin-right: 40px;
    height: 100px;
    width: 360px;
    background-color:   rgba(255, 252, 252, 0.1);
    border-radius: 5px;

}
.box3{
    margin-right: -80px;
    height: 100px;
    width: 360px;
    background-color:   rgba(255, 252, 252, 0.1);
    border-radius: 5px;
}
.circle{
    width: 70px;
    height: 70px;
    margin-top: 15px;
    margin-right: 15px;
    background:#1DB954;
    box-shadow:   2px 7px 10px black;
    border-radius: 50%;
    float: right;
    display: none;
}
.img-play{
    margin-left: 7px;
    margin-top: 2px;
    width:40px ;
    height: 40px;
}
.img-card{
    height: 100px;
    width: 100px;
    border-radius: 5px;
}
/*menu2*/
.menu2{
    width: 80%;
    margin-left: 307px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color:black;
}
.menu2 h1{
    margin-left: 25px;
    font-size: 28px;
    color: white;
    font-weight:bolder;

}
.cards2{
    margin-top: 50px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
}
.box4, .box5, .box6, .box7{
    width: 270px;
    height: 360px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(149, 144, 144, 0.1);
    margin-right: 20px;
    border-radius: 5px;
    color: white;
}
.titulo{
    color: white;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.titulo2{
    color: white;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;

}
.img-card2{
    border-radius: 5px;
}
.img-card3{
    border-radius: 50%;
}
/*footer*/
footer{
    width: 80%;
    height: 480px;
    margin-left: 307px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color:black;

}
.footer-main, .footer-bottom{
    font-size: 18px;
    color: rgb(208, 208, 208);
    line-height: 2;

}
.title-ul{
    color: white;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.footer-hr{
    width: 92%;
    color: rgb(171, 171, 171);

}

